.container {
  height: 50px;
  position: relative;
  padding: 0 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; */

  background: none;
  box-shadow: none;
  color: white;
}

.connect_button {
  overflow: hidden;
  width: inherit;
  min-height: 45px;
  height: 100%;
  animation: appear 1s ease-out;

  box-shadow: none;
  border: none;

  transition: all 0.2s ease-out;

  margin-top: -10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.connect_button:disabled {
  animation: none;
}

.connect_button:not(:disabled):hover {
  background-color: var(--turquoise);
  filter: brightness(1.1);
}

/* @keyframes pulse {
  from {
    background-color: var(--accent);
  }
  to {
    background-color: var(--accent_lighter);
  }
} */

/* @keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.profile_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  padding-left: 0;
}

.profile_button:hover {
  cursor: pointer;
}

.profile_button:hover .profile_image {
  filter: brightness(150%);
  box-shadow: 0 0 5px 0 var(--accent);
}

.profile_image_container {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  overflow: hidden;
  padding: 3px;
  margin-right: 5px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.username_address_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* font-weight: bold; */
  user-select: none;
  color: white;
}
.username {
  padding: 0 10px;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}
.address {
  font-family: "Roboto Mono", monospace;
  color: black;
  font-weight: bold;
  font-size: 14px;

  color: white;
  /* color: var(--purple); */
}
.profile_anchor {
  position: relative;
  top: 25px;
  right: 0px;

  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1000px) {
  .connect_button {
    font-size: small !important;
  }
}
