.container {
  background-color: var(--glass_background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;
}

.input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none !important;
  text-align: right;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.error {
  background-color: var(--glass_red);
}

.error .input::selection {
  background-color: var(--glass_red);
  color: white;
}

.input::placeholder {
  color: white;
  opacity: 0.5;
}

.max_button {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 0 15px;
  font-size: inherit;
  font-family: inherit;
  transition: background-color 0.1s ease-out;
  opacity: 1;
}

.max_button:hover {
  background-color: var(--turquoise);
  cursor: pointer;
  opacity: 1;
}
