.container {
  background-color: var(--glass_background);
  /* border: 1px solid var(--glass_background); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
}

.input_with_error {
  background-color: transparent;
  color: rgba(189, 6, 6, 0.788);
  outline: none;
  border: none !important;
  text-align: right;
  padding: 10px;
  font-size: 20px;
}

.input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none !important;
  text-align: right;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.input::placeholder,
.input_with_error::placeholder {
  color: white;
  opacity: 0.5;
}
