.container {
  background-color: var(--glass_background);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  position: relative;
}

.input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none !important;
  text-align: right;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

.error {
  background-color: var(--glass_red);
}

.error .input::selection {
  background-color: var(--glass_red);
  color: white;
}

.input::placeholder {
  color: white;
  opacity: 0.5;
}

.error_element {
  position: absolute;
  /* color: var(--glass_background); */
  color: white;
  width: 100%;
  top: calc(100% + 2px);
  background-color: var(--glass_background);
  /* border: 1px solid var(--glass_background); */
  backdrop-filter: blur(20px);
  border-radius: 4px;
  /* background: rgba(189, 6, 6); */
  background-color: red;
  box-shadow: 0 0 10px red;
  z-index: 10;
  padding: 5px;
  transition: all 0.1s ease-out;
}

.hidden_error_element {
  opacity: 0;
  transform: scaleY(0.5);
  pointer-events: none;
}
