.container {
  width: max(450px, 30vw);
  height: 50vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 0;
}

.from_to_container {
  padding: 1rem;

  border: 1px solid var(--glass_background);
  background-color: var(--glass_background);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px var(--glass_shadow);
  border-radius: 4px;
  /* mix-blend-mode: multiply; */
}

.from_header,
.to_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.from_title,
.to_title {
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
}

.from_title svg,
.to_title svg {
  height: 1em;
  /* width: 1em; */
  fill: var(--turquoise);
  fill: white;
}

.arrow_container {
  position: relative;
}
.hr {
  border-color: var(--glass_background);
  border-width: 1px;
  opacity: 0.25;
}

.arrow {
  position: absolute;
  height: 25px;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: var(--glass_background);
  /* border: 1px solid var(--turquoise_darker); */
  /* background-color: var(--turquoise_dark); */
  border-radius: 50%;
  padding: 4px;
  /* background: radial-gradient(var(--turquoise_lighter), var(--turquoise_darker)); */
  transition: 0.2s ease-in-out;
}
.arrow path {
  transition: 0.2s ease-in-out;
  transform-origin: 50%;
}

.arrow:hover {
  cursor: pointer;
  background-color: var(--turquoise);
}

.arrow:hover path {
  rotate: 180deg;
}

.below_input_container {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  padding-right: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
  opacity: 0.5;
  font-size: 0.8rem;
}

/* .estimated_value {

} */

.info_icon svg {
  fill: red !important;
}
