.container {
  border: none;
  padding: 10px;
  border-radius: 4px;
  backdrop-filter: blur(20px);
  /* background-color: var(--turquoise); */
  background-color: var(--glass_background);
  /* border: 1px solid var(--turquoise); */
  /* box-shadow: 0 0 10px var(--glass_shadow); */

  color: white;
  transition: all 0.1s ease-out;
  font-size: 1em;
}

.container:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--turquoise);
  border-color: var(--turquoise);
  color: black;
}

.container:disabled {
  /* opacity: 0.5; */
  background-color: var(--glass_background);

  border-color: var(--glass_background);
}
